@page
@using Westwind.AspNetCore.Markdown
@{
  ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h1>Docson<h1>
  <h3>🕺 - An Integration Event Message type documentation service - 🚀</h2>
</div>

<article>
  @Markdown.ParseHtmlStringFromFile("~/data/index.md")
</article>
